<%= simple_form_for(@type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.label :categories %>
    <%= collection_select(:type, :category_id, Category.all, :id, :name, :prompt=>"Please select the category") %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
