<h1>Listing types</h1>

<table>
  <tr>
    <th>Name</th>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <th></th>
    <th></th>
    <th></th>
    <% end %><% end %>
  </tr>

<% @types.each do |type| %>
  <tr>
    <td><%= type.name %></td>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <td><%= link_to 'Show', type %></td>
    <td><%= link_to 'Edit', edit_type_path(type) %></td>
    <td><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %><%end%>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<%= link_to 'New Type', new_type_path %>
<% end %><% end %>