<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @type.name %>
</p>

<% if user_signed_in? %><% if current_user.has_role :admin %>
<%= link_to 'Edit', edit_type_path(@type) %> |
<% end%><%end%>
<%= link_to 'Back', types_path %>
