<% @permits.each do |permit| %>
<div class="row">
  <div class="span4">
    <%= link_to permit.name, permit %>
  </div>
  <div class="span6">
    <p><%= permit.description %></p>
  </div>
</div>
<% end %>