<h1>About Us</h1>
<div class="text span10 offset1">
<h3>We love small business owners. We hate headaches.
</h3><p>
PermitMe! brings together all the permits you need to start a bar. Or a restaurant.
</p><p>
Some business owners want to keep tabs on the permits they already have or the permits they might need. We keep things simple, up to date, and useful.
</p><p>
Whatever dream you want to bring to reality, we help you deal with the not-so-sexy-but-still-important stuff.
</p><h4>
Hit the ground running. We've got your back.
</h4>
</div>