<div class="row">
  <%= image_tag "STARTHERE.png" %>
</div>
<div class="padding"></div>
<div class="row">
  <div class="window1 span4 offset2">
    I'm Starting a Business.
    <%= link_to image_tag("StartingButton.png"), starting_path, :id=>"starting" %>
  </div>
  <div class="seperator span1">
   <%= image_tag('betweenBtnArrows.png', :class => 'padTop') %>
  </div>
  <div class="window2 span4">
    I'm Running a Business.
    <%= link_to image_tag("RunningButton.png"), running_path, :id=>"running" %>
  </div>
</div>
<div class="padding"><div class="divide"></div></div>
<div class="row">
  <div class="span4">
    <center><%= image_tag "casestudyIcon2.png" %></center>
  </div>
  <div class="span4">
    <center><%= image_tag "casestudyIcon1.png" %></center>
  </div>
  <div class="span4">
    <center><%= image_tag "casestudyIcon3.png" %></center>
  </div>
</div>
<div class="padding"></div>
<div class="row">
  <div class="span4 testimonial">
    <p>Georgina Dawn is a chef-turned-bar owner. Bringing the exotic spirits of the Caribbean down to Houston was her dream come true. She maintains her permits like her business, with a loving & watchful eye. We'll drink to that.</p>
  </div>
  <div class="span4 testimonial">
    <p>Jason Baker wants to launch Baker's Dozen, a high-end restaurant that serves dessert first. Great idea. We surprised him by pointing out 2 permits he didn't know he needed to have. Piece of cake.</p>
  </div>
  <div class="span4 testimonial">
    <p>Alexx & Morgan aren't from Houston, but expanding their franchise to Space City is something they're considering. We respected their time by showing them which permits were time-sensitive. Welcome to Texas.</p>
  </div>
</div>
<div class="padding"><div class="divide"></div></div>
<div class="row">
  <div class="span10 offset1 padding">
    <%= link_to image_tag("contributeBtn.png"), report_path %>
  </div>
</div>