<div class="accordian" id="accordion1">
<% @categories.each do |category| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse<%= category.id %>">
        <h4><%= category.name %></h4>
      </a>
    </div>
    <div id="collapse<%= category.id %>" class="accordian-body collapse">
      <div class="accordian-inner">
        <hr>
        <ul>
          <% category.types.each do |type| %>
          <li><%= link_to type.name, running_path + '/' + type.name.downcase %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</div>