<%= simple_form_for(@permit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :string %>
    <%= f.input :url %>

    <div class="field">
    <%= f.label :type %>
    <%= collection_select(:permit, :type_ids, Type.all, :id, :name,{}, {:multiple=>:true }) %>
  </div>
    <%= f.input :county %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :section %>
    <%= f.input :resource_group_description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
