<h1>Listing permits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>String</th>
    <th>Url</th>
    <th>Type</th>
    <th>County</th>
    <th>State</th>
    <th>City</th>
    <th>Section</th>
    <th>Resource group description</th>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <th></th>
    <th></th>
    <th></th>
    <% end %><% end %>
  </tr>

<% @permits.each do |permit| %>
  <tr>
    <td><%= permit.name %></td>
    <td><%= permit.description %></td>
    <td><%= permit.string %></td>
    <td><%= permit.url %></td>
    <td><% permit.types.each do |type| %><%= type.name %>,<% end %>
    </td>
    <td><%= permit.county %></td>
    <td><%= permit.state %></td>
    <td><%= permit.city %></td>
    <td><%= permit.section %></td>
    <td><%= permit.resource_group_description %></td>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <td><%= link_to 'Show', permit %></td>
    <td><%= link_to 'Edit', edit_permit_path(permit) %></td>
    <td><%= link_to 'Destroy', permit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %><% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<%= link_to 'New Permit', new_permit_path %>
<% end %><% end %>