<p>
  <b>Name:</b>
  <%= @permit.name %>
</p>

<p>
  <b>Description:</b>
  <%= @permit.description %>
</p>

<p>
  <b>String:</b>
  <%= @permit.string %>
</p>

<p>
  <b>Url:</b>
  <%= @permit.url %>
</p>

<p>
  <b>Type:</b>
  <% @permit.types.each do |type| %>
  <%= type.name %>,
  <% end %>
</p>

<p>
  <b>County:</b>
  <%= @permit.county %>
</p>

<p>
  <b>State:</b>
  <%= @permit.state %>
</p>

<p>
  <b>City:</b>
  <%= @permit.city %>
</p>

<p>
  <b>Section:</b>
  <%= @permit.section %>
</p>

<p>
  <b>Resource group description:</b>
  <%= @permit.resource_group_description %>
</p>
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_permit_path(@permit) %> |
<% end %><% end %>
<%= link_to 'Back', permits_path %>
