<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <th></th>
    <th></th>
    <th></th>
    <% end %><% end %>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %><% end %>
  </tr>
<% end %>
</table>

<br />

    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
<%= link_to 'New Category', new_category_path %>
<% end %><%end%>