<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %><% end %>
<%= link_to 'Back', categories_path %>
