<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PermitMe" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PermitMe" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="/assets/beta.png" alt="Beta">
    <header class="navbar">
          <%= render 'layouts/navigation' %>
    </header>
    <div class="header container">
      <div id="logo"><%= link_to image_tag("PMlogo.png"), root_path %></div>
      <h2 class="tagline" id="tagline">Permitting made easy</h2>
    </div>
    <div id="main" role="main">
      <div class="container" id="body">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>